body { margin: 0; padding: 0; background: #C3C4BA; color: #555; font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; }
#header { height: 65px; background: #B7CF4A; overflow:hidden; }
#content { background: #fff; }
#footer { height: 200px; background: ; }
#main { height: 800px; width: 580px; float: left; margin-right: 20px; border: 1px solid #dfdbc6; overflow: hidden; padding: 10px; }
#sidebar { height: 500px; width: 200px; float: left; display: inline; border: 5px dashed #dfdbc6; overflow: hidden; padding: 10px; }
.container { overflow: hidden; position: relative; width: 960px; }